# .pylintrc

[MASTER]

disable=consider-using-f-string, no-else-return, inconsistent-return-statements, unused-wildcard-import, unused-argument, wildcard-import, duplicate-string-formatting-argument, no-self-use, invalid-name, import-error, undefined-variable, no-else-continue, simplifiable-if-statement, duplicate-code
